<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EmberJS 30</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="list-group">
        {{#each model as |item index|}}
          <a class="list-group-item" href="#">{{item}} {{index}}</a>
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-9 col-md-10 main">
      {{outlet}}
    </div>
  </div>
</div>
