<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">30 Ember.js Components</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="list-group">
        {{#each model as |item index|}}
          <a class="list-group-item list-group-item-action" href="#">{{item}} {{index}}</a>
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-9 col-md-10 main">
      {{outlet}}
    </div>
  </div>
</div>
